# Feature Engineering in Python

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
c=['BAN','PAK','SRI','IND']

In [3]:
data=pd.DataFrame({'country':c})

In [4]:
data

  country
0     BAN
1     PAK
2     SRI
3     IND

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
le=LabelEncoder()

In [7]:
data['country_e']=le.fit_transform(data.country)

In [8]:
data

  country  country_e
0     BAN          0
1     PAK          2
2     SRI          3
3     IND          1

In [9]:
#data.drop(['country'], axis=1)

In [10]:
from sklearn.preprocessing import OneHotEncoder

In [11]:
 enc = OneHotEncoder(handle_unknown='ignore')

In [12]:
df=pd.DataFrame(enc.fit_transform(data[['country_e']]).toarray())

In [13]:
df

     0    1    2    3
0  1.0  0.0  0.0  0.0
1  0.0  0.0  1.0  0.0
2  0.0  0.0  0.0  1.0
3  0.0  1.0  0.0  0.0

In [14]:
df=df.drop(0, axis=1)
df

     1    2    3
0  0.0  0.0  0.0
1  0.0  1.0  0.0
2  0.0  0.0  1.0
3  1.0  0.0  0.0

In [15]:
enc.fit_transform(data[['country_e']]).toarray()

array([[1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.]])

In [16]:
data

  country  country_e
0     BAN          0
1     PAK          2
2     SRI          3
3     IND          1

In [17]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [18]:
a=['20','24','22','23']

In [19]:
data['age']=a

In [20]:
data

  country  country_e age
0     BAN          0  20
1     PAK          2  24
2     SRI          3  22
3     IND          1  23

In [21]:
#2.OneHotEncoder : New Style 
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

# Country column
ct = ColumnTransformer([("country", OneHotEncoder(), [0])], remainder = 'passthrough')
X = ct.fit_transform(data)
print(X)

[[1.0 0.0 0.0 0.0 0 '20']
 [0.0 0.0 1.0 0.0 2 '24']
 [0.0 0.0 0.0 1.0 3 '22']
 [0.0 1.0 0.0 0.0 1 '23']]

In [22]:
X=X[:,1:]
print(X)

[[0.0 0.0 0.0 0 '20']
 [0.0 1.0 0.0 2 '24']
 [0.0 0.0 1.0 3 '22']
 [1.0 0.0 0.0 1 '23']]